# Obowiązkowe parametry
subscription_id              = "00000000-0000-0000-0000-000000000000"
tenant_id                    = "00000000-0000-0000-0000-000000000000"
admin_password               = "P@ssw0rd!Update"
avd_users_group_object_id    = "11111111-1111-1111-1111-111111111111"
allowed_rdp_source_cidrs     = ["203.0.113.10/32"]

# Opcjonalne nadpisania
# location                  = "westeurope"
# project_name              = "avd-demo"
# fslogix_share_quota_gb    = 100
# vm_size                   = "Standard_D2as_v5"
# image_offer               = "windows-11"
# image_sku                 = "win11-23h2-avd" # zmień na wariant Windows 10 multi-session gdy region nie wspiera Win11
# fslogix_download_url      = "https://aka.ms/fslogix-latest" # wskaż konkretny plik MSI jeśli używasz innego źródła
# avd_agent_url             = "https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWrmXv"
# avd_bootloader_url        = "https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RWIz3Q"
